In [27]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine, func

In [28]:
sap500_df = pd.read_csv("../../datasets/SAP500_20200320.csv")

In [29]:
sap500_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
1,2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2,2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
3,2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
4,2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000

In [30]:
#create connection to sqlite
engine = create_engine('sqlite:///../../db/BullsBearsDB.sqlite', echo=False)

In [7]:
#export scraped data to sqlite
sap500_df.to_sql('SAP500_20200320', con=engine, if_exists='replace', index=False)

In [5]:
#check if data was read into sqlite
engine.execute("SELECT * FROM SAP500_20200320 ORDER BY date DESC LIMIT 15").fetchall()

[('2020-03-19', 2393.47998, 2466.969971, 2319.780029, 2409.389893, 2409.389893, 7946710000),
 ('2020-03-18', 2436.5, 2453.570068, 2280.52002, 2398.100098, 2398.100098, 8755780000),
 ('2020-03-17', 2425.659912, 2553.929932, 2367.040039, 2529.189941, 2529.189941, 8358500000),
 ('2020-03-16', 2508.590088, 2562.97998, 2380.939941, 2386.1298829999996, 2386.1298829999996, 7781540000),
 ('2020-03-13', 2569.98999, 2711.330078, 2492.3701170000004, 2711.02002, 2711.02002, 8258670000),
 ('2020-03-12', 2630.860107, 2660.949951, 2478.860107, 2480.639893, 2480.639893, 8829380000),
 ('2020-03-11', 2825.600098, 2825.600098, 2707.219971, 2741.3798829999996, 2741.3798829999996, 7374110000),
 ('2020-03-10', 2813.47998, 2882.590088, 2734.0, 2882.22998, 2882.22998, 7635960000),
 ('2020-03-09', 2863.889893, 2863.889893, 2734.429932, 2746.560059, 2746.560059, 8423050000),
 ('2020-03-06', 2954.199951, 2985.929932, 2901.540039, 2972.3701170000004, 2972.3701170000004, 6552140000),
 ('2020-03-05', 3075.699951, 3083.040039, 2999.830078, 3023.939941, 3023.939941, 5575550000),
 ('2020-03-04', 3045.75, 3130.969971, 3034.3798829999996, 3130.1201170000004, 3130.1201170000004, 5035480000),
 ('2020-03-03', 3096.459961, 3136.719971, 2976.6298829999996, 3003.3701170000004, 3003.3701170000004, 6355940000),
 ('2020-03-02', 2974.280029, 3090.959961, 2945.189941, 3090.22998, 3090.22998, 6376400000),
 ('2020-02-28', 2916.899902, 2959.719971, 2855.840088, 2954.219971, 2954.219971, 8563850000)]

In [6]:
conn = engine.connect()

In [7]:
pd.read_sql("SELECT * FROM SAP500_20200320 ORDER BY date DESC LIMIT 15", con = conn).reset_index(drop = True)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-03-19,2393.479980,2466.969971,2319.780029,2409.389893,2409.389893,7946710000
1,2020-03-18,2436.500000,2453.570068,2280.520020,2398.100098,2398.100098,8755780000
2,2020-03-17,2425.659912,2553.929932,2367.040039,2529.189941,2529.189941,8358500000
3,2020-03-16,2508.590088,2562.979980,2380.939941,2386.129883,2386.129883,7781540000
4,2020-03-13,2569.989990,2711.330078,2492.370117,2711.020020,2711.020020,8258670000
5,2020-03-12,2630.860107,2660.949951,2478.860107,2480.639893,2480.639893,8829380000
6,2020-03-11,2825.600098,2825.600098,2707.219971,2741.379883,2741.379883,7374110000
7,2020-03-10,2813.479980,2882.590088,2734.000000,2882.229980,2882.229980,7635960000
8,2020-03-09,2863.889893,2863.889893,2734.429932,2746.560059,2746.560059,8423050000
9,2020-03-06,2954.199951,2985.929932,2901.540039,2972.370117,2972.370117,6552140000
10,2020-03-05,3075.699951,3083.040039,2999.830078,3023.939941,3023.939941,5575550000
11,2020-03-04,3045.750000,3130.969971,3034.379883,3130.120117,3130.120117,5035480000
12,2020-03-03,3096.459961,3136.719971,2976.629883,3003.370117,3003.370117,6355940000
13,2020-03-02,2974.280029,3090.959961,2945.189941,3090.229980,3090.229980,6376400000
14,2020-02-28,2916.899902,2959.719971,2855.840088,2954.219971,2954.219971,8563850000

In [8]:
from sqlalchemy.orm import Session

In [9]:
session = Session(engine)

In [36]:
#session.close()

In [19]:
from sqlalchemy.ext.declarative import declarative_base

In [23]:
# Base = declarative_base()

In [15]:
from sqlalchemy import inspect

In [16]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)

In [17]:
# Collect the names of tables within the database
inspector.get_table_names()

['SAP500',
 'SAP500_20200320',
 'Treasury_Yield',
 'Tweets',
 'jan_mar_tweets',
 'nov_jan_tweets']

In [31]:
from sqlalchemy.ext.automap import automap_base
Base = automap_base()

In [32]:
Base.prepare(engine, reflect=True)

In [25]:
for something in Base.classes:
    print(something)

In [33]:
some_class = Base.classes.Tweets

AttributeError: Tweets

In [19]:
sap500 = Base.classes.SAP500_20200320

AttributeError: SAP500_20200320

In [18]:
session.query(func.max(SAP500_20200320.date)).all()

NameError: name 'SAP500_20200320' is not defined